html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ------ Typography -------*/
body{font-family: 'Open Sans', sans-serif;}

/* ------ Fluid Images -------*/

img{max-width:100%;}

/* ------ Utility Classes  -------*/
.container{
  margin:0 auto;
  background:#1B1212;
  width:480px;
}

/* ------ Helper Classes -------*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/* ------ Global Styles -------*/
body{
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23444567' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-color: #000000;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  color:white;
  line-height:1.6
} 
a:link, a:visited{
  
}

nav{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding:20px 20px 0px 20px;
}
nav a:link, nav a:visited{
  border:1px solid #000;
  padding:8px 16px;
  text-align:center;
  text-decoration:none;
  color:#222222;
  text-transform:uppercase;
  font-size:.75em;
  background:grey;
  transition: background-color .5s ease;
  color:#fff;
}

nav a:hover{
   background:rgba(0,0,0,.95);
}

main{
  padding: 1px 20px;
}

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight:400;
  font-variant:small-caps;
}
main h1:before, main h1:after {
  background-color: orange;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.77em;
}
main h1:before {
  margin-right:15px;
}
main h1:after {
  margin-left:15px;
}

dl{
  display: grid;
  grid-template-rows:auto;
  grid-template-columns:8em 1fr;
  /*shorthand*/
  grid-template: auto / 8em 1fr;
}

dt{
  font-weight:800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom:1px solid #999;
}
dd{
  margin:0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom:1px solid #999;
 
}
.related-links{
  display:flex;
  justify-content:center;
  list-style:none;
  padding:0;
}
.related-links .svg-inline--fa{
  font-size:1.8em;
  padding-top:7px;
}

.related-links a{
  border:1px solid #000;
  padding:8px 16px;
  text-align:center;
  text-decoration:none;
  color:#222222;
  text-transform:uppercase;
  font-size:.75em;
  background:grey;
  transition: background-color 0.5s ease;
  color:#fff;
}

.related-links a:hover{
  background:rgba(0,0,0,.95);
}

.related-links li{
  margin-right:20px;
}

#skills{
  
}
#skills li {
  list-style-type:square;
}

.job, .certificate{
  border-bottom:1px solid #999;
  padding-bottom:20px;
}

.job *[itemprop="jobTitle"], 
.job *[itemprop="name"], 
.job *[itemprop="url"], 
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"]
{
  display:block;
}

.job h3{
  margin:20px 0 0 0;
}

footer{
  text-align:center;
padding:20px 0;
}